[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyqt5 = "*"
imutils = "*"
numpy = "*"
opencv-python = "*"
dlib = "*"
win32com = "*"
pywin32 = "*"
pygame = "*"
psutil = "*"

[requires]
python_version = "3.6"
